.nav-list{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $main-color;   
    padding-top: 32px;
    padding-bottom: 32px;
    fill:$secondary-color;
}
.nav-list:hover,
.nav-list:focus{
    fill:$hover-color;
}
.nav-list>li>a:hover,
.nav-list>li>a+svg:focus
{
    color: $hover-color;        
}
.nav-list>li>button:hover,
.nav-list>li>button:focus{
    color: $primary-white-color;
    background-color: $hover-color;
}
.flex-list{
    margin-left: auto;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.main-nav-a{
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 50px;
}
.main-nav-a:nth-child(3){
    margin-right: 0px;
}
.nav-list-a:nth-child(2){
    margin-left: 50px;
}
.svg-item{
    margin-right: 10px;    
}
.activen{
    padding-bottom: 28px;
    border-bottom:5px solid var(--hover-color);
}
