.myComand{
    background: #F5F4FA;
}
.pic-two{
    padding-bottom: 94px;
}
.sec-two{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 94px;
}
.pic-mar:not(:last-child){
    margin-right: 30px;
    }
.pic-mar>img{
    display: block;
}
.box-shadow{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.nav-team{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.nav-team>h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color:$secondary-color;
}
.icon{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}
.icon li:not(:last-child){
    margin-right: 10px;
}
.svg-items{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    background-color:white;
    border-radius: 50%;
}
.a-conteiner:hover .svg-items,
.a-conteiner:focus .svg-items{
    fill: white;
    background-color: $hover-color;
}
div h3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color;
    padding-bottom: 16px;
}